<!DOCTYPE HTML>
<html>
	<head>
		<title>洪有澤の自我介紹</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Nav -->
			<nav id="nav">
				<ul class="container">
					<li><a href="#top">簡介</a></li>
					<li><a href="#work">詳細自介</a></li>
					<li><a href="#portfolio">興趣</a></li>
					<li><a href="#contact">個人連結</a></li>
				</ul>
			</nav>

		<!-- Home -->
			<article id="top" class="wrapper style1">
				<div class="container">
					<div class="row">
						<div class="col-4 col-5-large col-12-medium">
							<span class="image fit"><img src="../static/images/IMG_8007.jpg"/></span>
						</div>
						<div class="col-8 col-7-large col-12-medium">
							<header>
								<h1><strong>大家好，我是洪有澤</strong></h1>
							</header>
							<p>我是一個16歲高一的桃園人，一個喜歡玩遊戲跟看漫畫的宅宅。<br>也可以叫我柚子，我網路平台都用這個名子。<br>建議開全螢幕看，我怕格式跑掉。</p>
							<a href="#work" class="button large scrolly">我的詳細自介</a>
						</div>
					</div>
				</div>
			</article>

		<!-- Work -->
			<article id="work" class="wrapper style2">
				<div class="container">
					<header>
						<h2>我的詳細自介</h2>
						<p>還有我的幹話</p>
					</header>
					<div class="row aln-center">
						<h4>我是土生土長桃園市桃園區人，現在在武陵讀高一，我都搭公車去上課，但疫情之後公車真的有夠少，不小心錯過一班就歡樂遲到:)。<br>然後168A跟189來的時間又有夠不穩定，真的爛死。而且就算搭到了，有時候還會莫名其妙的塞車。<br>我國中跟國小都是讀學區的，所以走路上課，沒有這種煩惱，沒想到高中後懂了公車是一種多靠北的東西。<br>然後我很喜歡世界計畫的奏，奏好讚:D。<br>下一區有很多我的興趣(?。</h4>
					</div>
					<footer>
						<a href="#portfolio" class="button large scrolly">我的興趣</a>
					</footer>
				</div>
			</article>

		<!-- Portfolio -->
			<article id="portfolio" class="wrapper style3">
				<div class="container">
					<header>
						<h1>我的興趣</h1>
						<p>窩很頹廢</p>
					</header>
					<div class="row aln-center">
						<div class="col-4 col-6-medium col-12-small">
							<section class="box style1">
								<h2>看實況</h2>
								<p>我會看巧克力的直播記錄檔#<br><br></p>
							</section>
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<section class="box style1">
								<h2>聽歌</h2>
								<p>主要聽Vocaloid的歌(Deco*27讚)<br>大推Deco*27的<a herf="https://youtu.be/agcoHM2CJ3s">寄生蟲</a></p>
							</section>
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<section class="box style1">
								<h2>躺地板(?</h2>
								<p>如上所述 對 我很喜歡躺在地板上:P<br><br></p>
							</section>
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<section class="box style1">
								<h2>畫畫</h2>
								<p>我畫畫很廢，但我立志(?)畫出好看的人。<br>我小時候只學過一點素描，所以現在相當從0開始自學QAQ。<br><br><br><br><br><br><br><br></p>
							</section>
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<section class="box style1">
								<h2>看漫畫(動畫較少)</h2>
								<p>我看的漫畫超級雜，從咒術迴戰到魔女之旅甚至輝夜姬(我才不想打全名 有夠長)更或著Happy sugar life。(到底要幾個連接詞#<br><br><br><br><br><br><br></p>
							</section>
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<section class="box style1">
								<h2>遊戲</h2>
								<p>我蠻喜歡玩遊戲，手遊偏多。<br>這裡有我玩的遊戲:<br><a herf="https://hsr.hoyoverse.com/zh-tw/home">崩壞:星穹鐵道</a> (UID801525377)<br>雀魂 (UID51787928)<br>世界計畫 我愛奏ˊˇˋ<br>傳說 (名子很難打)<br>Minecraft<br>原神 (陸服)<br>Cytus2<br>神域</p>
							</section>
						</div>
					</div>
					<footer>
						<p>總之就是一個臭宅高中生</p>
						<a href="#contact" class="button large scrolly">我的個人連結</a>
					</footer>
				</div>
			</article>

		<!-- Contact -->
			<article id="contact" class="wrapper style4">
				<div class="container medium">
					<div class="row">
						<div class="col-12">
							<hr />
							<h3>我的各種網站連結</h3>
							<ul class="social">
								<li><a href="https://www.facebook.com/profile.php?id=100054135433411" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="https://www.instagram.com/pomelo_0411/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="https://github.com/Pomelo0411ouo" class="icon brands fa-github"><span class="label">Github</span></a></li>
								<!--
								<li><a href="#" class="icon solid fa-rss"><span>RSS</span></a></li>
								<li><a href="#" class="icon brands fa-instagram"><span>Instagram</span></a></li>
								<li><a href="#" class="icon brands fa-foursquare"><span>Foursquare</span></a></li>
								<li><a href="#" class="icon brands fa-skype"><span>Skype</span></a></li>
								<li><a href="#" class="icon brands fa-soundcloud"><span>Soundcloud</span></a></li>
								<li><a href="#" class="icon brands fa-youtube"><span>YouTube</span></a></li>
								<li><a href="#" class="icon brands fa-blogger"><span>Blogger</span></a></li>
								<li><a href="#" class="icon brands fa-flickr"><span>Flickr</span></a></li>
								<li><a href="#" class="icon brands fa-vimeo"><span>Vimeo</span></a></li>
								-->
							</ul>
							<hr />
						</div>
					</div>
					<footer>
						<ul id="copyright">
							<li>&copy; 國際柚子法保障著作權</li>
						</ul>
					</footer>
				</div>
			</article>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>